<!-- nav -->

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
     
      <form [formGroup]="form" class="search_container" (ngSubmit)="search()">
        <div class="input-group">
          <select class="form-select" id="inputGroupSelect04" formControlName="category" aria-label="Example select with button addon">
            <option value="all">All</option>
            <option *ngFor="let item of categoryData" value="{{item.name}}">{{item.name}}</option>
            <!-- <option value="fashion">Fashion</option> -->
            <!-- <option value="electronics">Electronics</option> -->
          </select>
          <input class="form-control" formControlName="product" type="search"  placeholder="Search" aria-label="Search" (keypress)="callsearch()">
          <button class="btn btn-light" type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
        </div>
       
        
        <div  class="result" *ngIf="searchResult">
            <ul>
              <li class="flex_btw">
                <p class="m-0">Results Found</p>
                <a href="javascript:void(0)" (click)="searchResult = !searchResult">Hide Results</a>
              </li>
              <li *ngFor="let item of searchResult">
                <img src="{{item.get_thumbnail}}">
                <a href="javascript:void(0)">{{item.name}}</a>
              </li>
            </ul>
        </div>
      </form>
     
     
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-item nav-link" *ngIf="!user" routerLink="account/login"  [routerLinkActiveOptions]="{exact: true}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" *ngIf="!user" routerLink="account/register"  [routerLinkActiveOptions]="{exact: true}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link text-light" *ngIf="user" routerLink="view-cart/" [routerLinkActiveOptions]="{exact: true}">
            <i class="fa fa-shopping-cart fa-lg mr-1" aria-hidden="true"></i>{{user.cart}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" *ngIf="user" (click)="logout()">Logout</a>
        </li>
      </ul>
     
     
    </div>
 
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div (click)="this.isVisited = !this.isVisited;">
        <i class="fa fa-bars fa-2x text-light" aria-hidden="true"></i>
      </div>

       
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          
          <li class="nav-item" *ngFor="let item of categoryData | slice : 0:10">
            <a class="nav-item nav-link"  routerLink="category/{{item.name}}" >{{item.name}}</a>
          </li>
          
          
        </ul>

        <div>
          <p class="text-light m-0">Easy Shopping</p>
        </div>
    </div>

  </nav>

  <div  [ngClass]="this.isVisited ? 'sidenav navsize':'sidenav'">
 
    <div class="d-flex justify-content-around align-items-center py-3">
       <h2 class="text-light m-0"><span *ngIf="user">{{user.firstName}}</span><span *ngIf="!user">login</span></h2>
       <i class="fa fa-times fa-2x text-light" aria-hidden="true" (click)="this.isVisited = !this.isVisited;"></i>
    </div>
    
    <a href="#">About</a>
    <a  class="dropdown-btn" (click)="this.dropdown = !this.dropdown;">Services</a>
    <div class="dropdown-container" *ngIf="dropdown">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
